src/DTDvalidar.DTD


        <!ELEMENT LIGA (Fecha, Partidos)>
        <!ELEMENT Fecha (#PCDATA)>
        <!ELEMENT Partidos (Partido+)>
        <!ELEMENT Partido (Equipos, Marcador, Goles)>
        <!ELEMENT Equipos (Local, Visitante)>
        <!ELEMENT Local (#PCDATA)>
        <!ELEMENT Visitante (#PCDATA)>
        <!ELEMENT Marcador (#PCDATA)>
        <!ELEMENT Goles (Gol+)>
        <!ELEMENT Gol (Jugador, Minuto)>
        <!ELEMENT Jugador (#PCDATA)>
        <!ELEMENT Minuto (#PCDATA)>
